body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #0a0a2a;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #5a5aff;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #3a3aff;
}
